body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
.w3-main::-webkit-scrollbar {
	display: none;
}
.tabbing {
	display: flex;
}
.tab-test{
	border: 3px solid #CD960E;
	width: 90%;
	background-color: rgba(255, 255, 255, 0.6);
	/*	background-image: url("img/BG3-2.jpg");
	background-size: cover; 
	background-repeat: no-repeat;*/
	border-radius: 30px 30px 30px 30px;
	/*display: inline-flex;*/
	margin: auto;
	margin-top: 50px;
	padding-bottom: 50px;
	padding-left: 50px;
	padding-right: 50px;
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.37);
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
	color: white;
}
/* navbar */
.navbar-default {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 100%;
	/*background-color: #F8F8F8;*/
	/*border-color: #E7E7E7;*/
	background-color: rgba(205, 150, 14, 1);
	border-color: rgba(205, 150, 14, 0.5);

}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: yellow;
	background-color: #B78000;
	height: 50px;
	line-height: 25px;
}
.navbar-default .navbar-nav > li {

}
.navbar-default .navbar-nav > li > a {
	height: 50px;
	line-height: 25px;
	color: white;
}
/* Title */
.navbar-default .navbar-brand {
	color: black;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: grey;
}
/* end title */
.navbar .navbar-collapse {
	padding: 0;
	max-height: none;
	text-align: center;
}
.navbar-header {
	float: none;
	display: block;
	/*float: left;*/
	padding: 15px;
	text-align: center;
	width: 100%;
}
.navbar-brand {
	float:none;
	color: black;
}
.navbar ul {
	float: none;
	display: block;
}
.navbar li {
	float: none;
	display: block;
}
.navbar li a {
	padding-top: 12px;
	padding-bottom: 12px;
}
/*}*/