html, body { 
	height: 100%;
	margin: 0;
	overflow-x: hidden;
	overflow-y: hidden;
}
#pageWrapper {
	margin: 0 auto;
	position: relative;
	width: 100%; /*set to 100% or smaller or fixed width... */
	height: 100%;
}
#bodywrapper {
	width: 100%;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0;
	background: white;
}
.columnwrap {
	width: 100%;
	height: 100%;
}
.columnwrap .cell {
	height: 100%;
}
.columnwrap .col1 {
	float: left;
	/*border: 4px dotted black;*/
	max-width: 80%; /* This is critical or else Column 2 can disappear */
}
.columnwrap .col1 .content {
	height: inherit;
	display: inline-block;
	overflow-y: auto;

}
.columnwrap .col2 {
	/*border: 4px dotted red;*/
	overflow-y: hidden;
}
.columnwrap .col2 .content {
	height: inherit;
	overflow-y: auto;
	background-image: url("BG.jpg");
	background-size: cover; 
	background-repeat: no-repeat;
	background-color: #cccccc;
}
.columnwrap .col2 .content::-webkit-scrollbar {
	display: none;
}
#footerWrapper {
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 38%;
	color: white;
	height: 30px;
	/*line-height: 30px;*/
	text-align: center;
	background: radial-gradient(circle, rgba(0, 0, 0, 0.75) 30%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0.0) 40%);
}
.tab-test{
	border: 2px solid #73AD21;
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 0px 0px 30px 30px;

	padding-bottom: 50px;
	padding-left: 50px;
	padding-right: 50px;
}